{% extends "layout.html" %}

{% block page_title %}
  Example - Branching
{% endblock %}

{% block content %}
<main id="wrapper" role="main">
  <div id="content">
    <article class="content__body">

      <form action="/examples/over-18" method="get">

        <h1>
          Branching
        </h1>

        <p>
          You may want to show a user different pages, depending on how they've answered a question.
        </p>

        <p>
          You can see the code for this example here:
        </p>

        <pre class="code">
          /app/routes.js
          /app/views/examples/branching.html
        </pre>

        <h2 class="heading-medium">
          Are you 18 or over?
        </h2>

        <div class="form-group">
          <fieldset class="inline">

            <legend class="visuallyhidden">Are you 18 or over?</legend>

            <label for="over18True" class="block-label block-label--inline-right">
              <input type="radio" name="over18" value="true" id="over18True">
              Yes
            </label>

            <label for="over18False" class="block-label block-label--inline-right">
              <input type="radio" name="over18" value="false" id="over18False">
              No
            </label>

          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </article>
  </div>
</main>
{% endblock %}
