{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="wrapper" role="main">
  <div id="content">
    <article class="content__body">

        <div class="hero text--center">
          <section class="hero__content">
            <h1 class="hero__heading-large">Application complete</h1>
            <p class="hero__heading-small">
              Your reference number is <br>
              <strong class="heading-medium">HDJ2123F</strong>
            </p>
          </section>
        </div>
        <p>We have sent you a confirmation email.</p>

        <h2>What happens next</h2>
        <p>We've sent your application to Hackney Electoral Register Office.</p>
        <p>They will contact you either to confirm your registration, or to ask for more information.</p>
        <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>

    </article>
  </div>

</main>

{% endblock %}
