{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="wrapper" role="main">
  <div id="content">
    <article class="content__body">
      <h1>Example pages and patterns</h1>

      <p>
        Use these as the basis for your prototypes.
        We recommend making copies of the examples rather than directly editing them.
      </p>

      <div class="grid-layout">

        <div class="grid-layout__column grid-layout__column--1-3">
          <h2>Page elements</h2>
          <ul class="bullets">
            <li>
              <a href="http://hmrc.github.io/assets-frontend/section-grids.html">
                Grid layout
              </a>
            </li>
            <li>
              <a href="http://hmrc.github.io/assets-frontend/section-typography.html">
                Typography
              </a>
            </li>
            <li>
              <a href="http://hmrc.github.io/assets-frontend/section-form.html">
                Basic form example
              </a>
            </li>
            <li>
              <a href="http://hmrc.github.io/assets-frontend/section-radio-input.html">
                Radio buttons and checkboxes
              </a>
            </li>
            <li>
              <a href="http://hmrc.github.io/assets-frontend/section-toggle-button.html">
                Toggling content
              </a>
            </li>
          </ul>
        </div>

        <div class="grid-layout__column grid-layout__column--1-3">

          <h2>Page templates</h2>
          <ul class="bullets">
            <li>
              <a href="/examples/blank-govuk">
                Blank
              </a>
            </li>
            <li>
              <a href="/examples/blank-unbranded">
                Blank (non-GOV.UK)
              </a>
            </li>
            <li>
              <a href="/examples/start-page">
                Start
              </a>
            </li>
            <li>
              <a href="/examples/question-page">
                Question
              </a>
            </li>
            <li>
              <a href="/examples/check-your-answers-page">
                Check your answers
              </a>
            </li>
            <li>
              <a href="/examples/confirmation-page">
                Confirmation
              </a>
            </li>
          </ul>
        </div>

        <div class="grid-layout__column grid-layout__column--1-3">

          <h2>Template features</h2>
          <ul class="bullets">
            <li>
              <a href="/examples/template-data">
                Passing data into a template
              </a>
            </li>
            <li>
              <a href="/examples/branching">
                Branching
              </a>
              <p class="font-xsmall">(Showing a different page based on user input)</p>
            </li>
            <li>
              <a href="/examples/template-partial-areas">
                Template partial areas
              </a>
            </li>
          </ul>
        </div>
      </div>
    </article>
  </div>

</main>

{% endblock %}
