{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="wrapper" role="main">
  <div id="content">
    <article class="content__body">

      <h1>
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>Use this service to:</p>

      <ul class="bullets">
        <li>do something</li>
        <li>update your name, address or other details</li>
        <li>you need to do this in order to do something else</li>
      </uL>

      <p>Registering takes around 5 minutes.</p>

      <p>
        <button class="button button--get-started" href="#" role="button">Start now</button>
      </p>

      <h2>Before you start</h2>

      <p>You can also <a href="#">register by post.</a></p>

      <p>The online service is also available in <a href="#">Welsh (Cymraeg).</a></p>

      <p>You can’t register for this service if you’re in the UK illegally.</p>
    </article>
  </div>
</main>

{% endblock %}
